{% extends 'base.html' %}

{% block login %}
<div style="display: block">
<form accept="/auth/personal/{{form.user.id}}/" method="post">
{% csrf_token %}
<p>{{ form.last_name.label }}:</p>
<p>{{ form.errors.last_name }}</p>
<p>{{ form.last_name }}</p>

<p>{{ form.first_name.label }}:</p>
<p>{{ form.errors.first_name }}</p>
<p>{{ form.first_name }}</p>

<p>{{ form.login.label }}:</p>
<p>{{ form.errors.login }}</p>
<p>{{ form.login }}</p>

<p>{{ form.password.label }}:{{form.password.help_text}}</p>
<p>{{form.non_field_errors}}</p>
<p>{{ form.errors.password }}</p>
<p>{{ form.password }}</p>

<p>{{ form.conf_password.label }}:</p>
<p>{{ form.errors.conf_password }}</p>
<p>{{ form.conf_password }}</p>

<p>{{ form.email.label }}:{{form.email.help_text}}</p>
<p>{{ form.errors.email }}</p>
<p>{{ form.email }}</p>

<p>{{ form.dob.label }}:{{form.dob.help_text}}</p>
<p>{{ form.errors.dob }}</p>
<p>{{ form.dob }}</p>

<p>{{ form.mobile.label }}:{{form.mobile.help_text}}</p>
<p>{{ form.errors.mobile }}</p>
<p>{{ form.mobile }}</p>

<p>{{ form.avatar.label }}:</p>
<p>{{ form.avatar.captcha }}</p>
<p>{{ form.avatar }}</p>

<input type="submit" value="Сохранить">
</form>
</div>
{{form.errors}}
<!-- {{form}} -->
{% endblock %}