{% extends "base.html" %}
{% load staticfiles %}
{% block my_cv %}

<img class="center_img" src="{% static "my_photo.jpg" %}" width="40%" alt="Моя фотография">
<table>
	<tr>
		<th class="item">Опыт работы</th>
		<td>
			<div>
				<p>Главный инженер проекта</p> 
				<p>Декабрь 2010 – настоящее время  ООО «Доля и Ко. ЛТД», Киев</p>
				<p>Главный инженер проекта</p> 
				<p>Июль 2008 – Декабрь 2010  ООО «ЕСУ», Киев</p>
				<p>Ведущий инженер-проектировщик</p> 
				<p>Декабрь 2007 – Июль 2008 ООО «ЕСУ», Киев</p>
				<p>Инженер-проектировщик</p> 
				<p>Май 2007 - Декабрь 2007  ООО «ЕСУ», Киев</p>					
			</div>
		</td>
	</tr>
</table>
{% endblock %}